@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.impact_main {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.below_text {
  text-align: center;
  font-size: 20px;
}

.pinky2 {
  color: #eb64a9;
}

.card {
  margin-left: 6.5%;
  margin-right: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.impact_image1,
.impact_image2,
.impact_image3 {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 2px solid #eb64a9;
}

.impact_headings {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.impact_headings:hover {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.impact_content {
  text-align: center;
  font-size: 20px;
  /* padding-left: 10%;
  padding-right: 10%; */
}

.card {
  border: none;
  justify-content: center;
}

@media screen and (max-width:450px) {
  .circle {
    margin-left: 0.4%;
    margin-top: 7.5%;
  }

  .prob {
    margin-top: 7%;
  }

  .prob1 {
    margin-top: 8%;
  }

  .impact_image1,
  .impact_image2,
  .impact_image3 {
    width: 275px;
    height: 275px;
    border-radius: 100%;
    border: 2px solid #eb64a9;
  }

}

@media screen and (max-width:500px) {
  .circle {
    margin-left: 0.4%;
    margin-top: 7.5%;
  }

  .impact_image1,
  .impact_image2,
  .impact_image3 {
    width: 275px;
    height: 275px;
    border-radius: 100%;
    border: 2px solid #eb64a9;
  }

}


@media (min-width: 1000px) {
  .impact_main {
    font-size: 60px;
  }

  .below_text {
    font-size: 30px;
  }

  .circle {
    margin-left: 13%;
  }

  .impact_image1 {}

  .impact_image2 {}

  .impact_image3 {}
}







@font-face {
  font-family: "revicons";
  fallback: fallback;
  src: url("../../../node_modules/react-multi-carousel/lib/revicons.woff") format('woff'), url("../../../node_modules/react-multi-carousel/lib/revicons.ttf") format('ttf'), url("../../../node_modules/react-multi-carousel/lib/revicons.eot") format('ttf')
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative
}

.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition
}

.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: transparent;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer
}

.react-multiple-carousel__arrow:hover {
  background: #fff;
}

.react-multiple-carousel__arrow::before {
  font-size: 120px;
  color: #ec6bae;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-right: -80px;
  margin-top: -120px;
}

.react-multiple-carousel__arrow--right::before {
  font-size: 120px;
  color: #ec6bae;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-right: -80px;
  margin-top: -120px;
}

.react-multiple-carousel__arrow::hover,
.react-multiple-carousel__arrow:active {
  font-size: 120px;
  color: #ed1283;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative
}

.react-multiple-carousel__arrow:disabled {
  cursor: default;
  background: #ec6bae;
}

.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
}

.react-multiple-carousel__arrow--left::before {

  font-size: 120px;
  color: #ec6bae;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-right: -80px;
  margin-top: -120px;
}

.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px)
}

.react-multiple-carousel__arrow--right::before {
  content: "\e825"
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center
}

.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background .5s;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer
}

.react-multi-carousel-dot button:hover:active {
  background-color: #ed1283;
}

.react-multi-carousel-dot--active button {
  background-color: #ed1283;
}

.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important
  }

  .react-multi-carousel-track {
    overflow: visible !important
  }
}

[dir='rtl'].react-multi-carousel-list {
  direction: rtl
}

.rtl.react-multiple-carousel__arrow--right {
  right: auto;
  left: calc(4% + 1px)
}



.rtl.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(4% + 1px)
}


.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: transparent;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}

.react-multiple-carousel__arrow--left:hover,
.react-multiple-carousel__arrow--right:hover {
  background: transparent;
}

.react-multiple-carousel__arrow--left::before,
.react-multiple-carousel__arrow--right::before {
  font-size: 120px;
  color: #ec6bae;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-right: -80px;
  margin-top: -120px;
}

.react-multiple-carousel__arrow--left:disabled,
.react-multiple-carousel__arrow--right:disabled {
  cursor: default;

}

.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
  background-color: #ec6bae;
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: transparent;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}

.react-multiple-carousel__arrow--left::before {
  content: "\e825";
  transform: rotate(180deg);
  margin-left: -130px;
  margin-bottom: 70px;
}

.react-multiple-carousel__arrow--right::before {
  margin-bottom: 70px;
}

@media screen and (max-width: 500px) {


  .react-multiple-carousel__arrow--left::before,
  .react-multiple-carousel__arrow--right::before {
    font-size: 80px !important;
    color: #ec6bae;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
  }

  .react-multiple-carousel__arrow--left::before {
    margin-left: -110px;
    margin-bottom: 130px;
  }

  .react-multiple-carousel__arrow--right::before {
    margin-right: -30px;
    margin-bottom: 140px;
  }

}